.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    border: 1px solid black;
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: white;
}

.black {
    background-color: gray;
}
