.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 9vh);
    grid-template-rows: repeat(8, 9vh);
    border: 1px solid black;
}

.square {
    width: 9vh;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: white;
}

.black {
    background-color: gray;
}

.chess-piece {
    font-size: 3em;
}

.chess-piece:hover {
    cursor: pointer;
}
